 .u-section-1 {
  background-image: url("images/pexels-photo-3165335.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 669px;
}

.u-section-1 .u-text-1 {
  width: 470px;
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}